.card_container {
  width: 90%;
  margin: 2em auto;
  overflow: hidden;
  position: relative;
  box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.card_container > img {
  width: 100%;
  height: 100%;
}

.card_overlay_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.tech {
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) {
  .tech {
    width: 50px;
    height: 50px;
  }
}
